.triangle_small {
  svg {
    max-width: 50px;
    max-height: 50px;
  }
}
.triangle_middle {
  svg {
    max-width: 100px;
    max-height: 100px;
  }
}
.triangle_big {
  svg {
    max-width: 150px;
    max-height: 150px;
  }
}